html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar.bg-custom {
    background-color: #87CEEB;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .btn-outline-light {
    color: #fff;
    border-color: #fff;
}

    .navbar .btn-outline-light:hover {
        color: #87CEEB;
        background-color: #fff;
        border-color: #fff;
    }

.navbar .btn-outline-custom {
    color: #87CEEB;
    border-color: #87CEEB; 
    background-color: white;
}

    .navbar .btn-outline-custom:hover {
        color: white; 
        background-color: #87CEEB; 
        border-color: #87CEEB; 
    }

.me-2 {
    margin-right: 0.5rem;
}