@{
    ViewData["Title"] = "Page1";
}

<h1>Page1</h1>

@if (TempData["message"] != null)
{
    if (TempData["message"].ToString() == "Please Login!")
    {
        <script>alert('@TempData["message"]');</script>
        <h3>未登入,尚未寫入Session</h3>
    }
    else
    {
        <h3>@TempData["message"]</h3>
    }
}
else
{
    <script>alert('@TempData["message"]');</script>
    <h3>已登入,已寫入Session</h3>
}